.App {
  /* background-image: url('../public/images/afternoon.jpg');  */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.morning {
  background-image: url('../public/images/morning.jpg');
}

.day {
  background-image: url('../public/images/day.jpg');
}

.afternoon {
  background-image: url('../public/images/afternoon.jpg');
}

.night {
  background-image: url('../public/images/night.jpg');
}

.weather-app {
  text-align: center;
  padding: 20px;
}

input[type="text"] {
  padding: 5px;
}

.weather-info {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background: #e0dfdf;
  opacity: 65%;
}

.error-message {
  color: red;
  font-weight: bold;
}
